{%- extends 'base.html.j2' -%}
{% from 'mathjax.html.j2' import mathjax %}
{% from 'jupyter_widgets.html.j2' import jupyter_widgets %}

{%- block header -%}
<!DOCTYPE html>
<html>
<head>
{%- block html_head -%}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% set nb_title = nb.metadata.get('title', '') or resources['metadata']['name'] %}
<title>{{nb_title}}</title>

<!--Codemirror imports-->
<script src="{{'codemirror.js' | static_resource_path()}}"></script>
<script src="{{'simplescrollbars.js' | static_resource_path()}}"></script>
<link rel="stylesheet" href="{{'codemirror.css' | static_resource_path()}}">
<link rel="stylesheet" href="{{'simplescrollbars.css' | static_resource_path()}}">
<link rel="stylesheet" href="{{'one-theme.css' | static_resource_path()}}">
<script src="{{'highlight/python.js' | static_resource_path()}}"></script>
<script src="{{'highlight/markdown.js' | static_resource_path()}}"></script>
<!--Marked - Markdown Renderer-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/1.1.1/marked.min.js"></script>
<!--KaTeX - LaTeX Renderer-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js" integrity="sha384-g7c+Jr9ZivxKLnZTDUhnkOnsh30B4H0rpLUpJ4jAIKs4fnJI+sEnkvrMWph2EDg4" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js" integrity="sha384-mll67QQFJfxn0IYznZYonOWZ644AWYC+Pt2cHqMaRhXVrursRwvLnLaebdGIlYNa" crossorigin="anonymous" onload="renderLaTeX()"></script>
<!--Pyodide imports-->
<script src="https://pyodide-cdn2.iodide.io/v0.15.0/full/pyodide.js"></script>
<script src="{{'pyodideWrapper.js' | static_resource_path()}}"></script>
<script src="{{'cellManager.js' | static_resource_path()}}"></script>
<link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@300;400&family=Fira+Sans:wght@300;400;500&display=swap" rel="stylesheet">
<script>
  cellManager = new CellManager();
  window.toggleMarkdownCell = function (e) {
    e.parentNode.querySelector('.Cell-MarkdownSource').style.display = '';
    e.parentNode.querySelector('.CodeMirror').CodeMirror.refresh();
    e.style.display = 'none';
  }
  function renderLaTeX() {
    window.renderMathInElement(document.body,
      {
        ignoredTags: [],
        delimiters: [
          { left: "$$", right: "$$", display: true },
          { left: "$", right: "$", display: false },
          { left: "\\(", right: "\\)", display: false },
          { left: "\\[", right: "\\]", display: true }
        ]
      });
  }
</script>
<link rel="stylesheet" href="{{'main.css' | static_resource_path()}}">
<style type="text/css">
  a.anchor-link {
     display: none;
  }
  </style>
</script>

{% block jupyter_widgets %}
  {%- if "widgets" in nb.metadata -%}
    {{ jupyter_widgets(resources.jupyter_widgets_base_url, resources.html_manager_semver_range) }}
  {%- endif -%}
{% endblock jupyter_widgets %}

{%- endblock html_head -%}
</head>
{%- endblock header -%}

{%- block body_header -%}
{% if resources.theme == 'dark' %}
<body class="jp-Notebook" data-jp-theme-light="false" data-jp-theme-name="JupyterLab Dark">
  <div class="Cell-container">
{% else %}
<body class="jp-Notebook" data-jp-theme-light="true" data-jp-theme-name="JupyterLab Light">
  <div class="Cell-container">
{% endif %}
{%- endblock body_header -%}

{% block body_footer %}
  </div>
</body>
{% endblock body_footer %}

{% block footer %}
{% block footer_js %}
{% endblock footer_js %}
{{ super() }}

<script>
  // Creates the code editor from a target textarea using the CodeMirror library.
  var codeCells = document.getElementsByClassName("CodeMirror-textarea");
  for (var i = 0; i < codeCells.length; i++) {
    var editor = CodeMirror.fromTextArea(codeCells.item(i), {
      mode: {
        name: codeCells.item(i).dataset["mimeType"],
        version: 3,
        singleLineStringErrors: false,
        fencedCodeBlockDefaultMode: 'python'
      },
      extraKeys: {
        'Tab': function (cm) {
          var spaces = Array(cm.getOption("indentUnit") + 1).join(" ");
          cm.replaceSelection(spaces);
        },
        'Shift-Enter': function (cm) {
          cellManager.handleRunCommand(cm.getWrapperElement());
        },
      },
      indentUnit: 4,
      matchBrackets: true,
      theme: 'one-theme',
      scrollbarStyle: 'overlay',
      viewportMargin: Infinity,
      lineNumbers: true,
    });
  }/*
    var md = document.getElementsByClassName("Cell-MarkdownSource");
    for (var i = 0; i < md.length; i++) {
      md2html = marked(md.item(i).querySelector('pre').textContent);
      md.item(i).parentElement.querySelector('.jp-RenderedMarkdown').innerHTML=md2html;
    }*/
</script>
</html>
{% endblock footer %}

