{%- extends 'base.html.j2' -%}
{% from 'mathjax.html.j2' import mathjax %}
{% from 'jupyter_widgets.html.j2' import jupyter_widgets %}

{%- block header -%}
<!DOCTYPE html>
<html>
<head>
{%- block html_head -%}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% set nb_title = nb.metadata.get('title', '') or resources['metadata']['name'] %}
<title>{{nb_title}}</title>

{%- block html_head_js -%}
{%- block html_head_js_requirejs -%}
<!--Codemirror imports-->
<script src="codemirror.js"></script>
<link rel="stylesheet" href="codemirror.css">
<script src="highlight/python.js"></script>  
<script src="highlight/markdown.js"></script>  
<!--Marked - Markdown Renderer-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/1.1.1/marked.min.js"></script>
<!--Pyodide imports-->
<script src="https://pyodide-cdn2.iodide.io/v0.15.0/full/pyodide.js"></script>
<script src="pyodideWrapper.js"></script>
<script src="cellManager.js"></script>
<script>
  cellManager = new CellManager();
  window.toggleMarkdownCell = function(e){
    e.parentNode.querySelector('.Cell-MarkdownSource').style.display='';
    e.parentNode.querySelector('.CodeMirror').CodeMirror.refresh();
    e.style.display='none';
  }
</script>
{%- endblock html_head_js_requirejs -%}
{%- endblock html_head_js -%}

{% block jupyter_widgets %}
  {%- if "widgets" in nb.metadata -%}
    {{ jupyter_widgets(resources.jupyter_widgets_base_url, resources.html_manager_semver_range) }}
  {%- endif -%}
{% endblock jupyter_widgets %}

{% block extra_css %}
{% endblock extra_css %}

{% for css in resources.inlining.css -%}
  <style type="text/css">
    {{ css }}
  </style>
{% endfor %}

{% block notebook_css %}
{{ resources.include_css("static/index.css") }}
{% if resources.theme == 'dark' %}
    {{ resources.include_css("static/theme-dark.css") }}
{% else %}
    {{ resources.include_css("static/theme-light.css") }}
{% endif %}
<style type="text/css">
a.anchor-link {
   display: none;
}
.highlight  {
    margin: 0.4em;
}

/* Input area styling */
.jp-InputArea {
    overflow: hidden;
}

.jp-InputArea-editor {
    overflow: hidden;
}

@media print {
  body {
    margin: 0;
  }
}
</style>

{% endblock notebook_css %}

{{ mathjax() }}

{%- block html_head_css -%}
{%- endblock html_head_css -%}

{%- endblock html_head -%}
</head>
{%- endblock header -%}

{%- block body_header -%}
{% if resources.theme == 'dark' %}
<body class="jp-Notebook" data-jp-theme-light="false" data-jp-theme-name="JupyterLab Dark">
{% else %}
<body class="jp-Notebook" data-jp-theme-light="true" data-jp-theme-name="JupyterLab Light">
{% endif %}
{%- endblock body_header -%}

{% block body_footer %}
</body>
{% endblock body_footer %}

{% block footer %}
{% block footer_js %}
{% endblock footer_js %}
{{ super() }}

<script>
    // Creates the code editor from a target textarea using the CodeMirror library.
    var codeCells = document.getElementsByClassName("CodeMirror-textarea");
    for (var i = 0; i < codeCells.length; i++) {
      var editor = CodeMirror.fromTextArea(codeCells.item(i), {
          mode: {
              name: codeCells.item(i).dataset["mimeType"],
              version: 3,
              singleLineStringErrors: false,
              fencedCodeBlockDefaultMode: 'python'
          },
          extraKeys: {
              'Tab': function (cm) {
                var spaces = Array(cm.getOption("indentUnit") + 1).join(" ");
                cm.replaceSelection(spaces);
              },
              'Shift-Enter': function(cm) { 
                cellManager.handleRunCommand(cm);
              },
          },
          indentUnit: 4,
          matchBrackets: true,
          theme: 'jupyter', //Use 'hopscotch' for dark-mode
          viewportMargin: Infinity,
          scrollbarStyle: "null",
      });
    }/*
    var md = document.getElementsByClassName("Cell-MarkdownSource");
    for (var i = 0; i < md.length; i++) {
      md2html = marked(md.item(i).querySelector('pre').textContent);
      md.item(i).parentElement.querySelector('.jp-RenderedMarkdown').innerHTML=md2html;
    }*/
</script>
</html>
{% endblock footer %}

