@media (prefers-color-scheme: light) {
    .cm-s-one-theme.CodeMirror {
        background: #fafafa;
        color: #383a42;
        font: 300 14px 'Fira Mono', monospace;
    }
    .cm-s-one-theme div.CodeMirror-selected {background: #ededed !important;}
    .cm-s-one-theme .CodeMirror-gutters {background: #fafafa; border-right: 0px;}
    .cm-s-one-theme .CodeMirror-linenumber {color: #9d9d9f;}
    .cm-s-one-theme .CodeMirror-cursor {border-left: 2px solid #526fff !important;}

    .cm-s-one-theme span.cm-atom {color: #986801;}
    .cm-s-one-theme span.cm-number {color: #986801;}

    .cm-s-one-theme span.cm-property, .cm-s-one-theme span.cm-attribute {color: #0184bc;}
    .cm-s-one-theme span.cm-keyword, .cm-s-one-theme span.cm-builtin {color: #A626A4;}
    .cm-s-one-theme span.cm-string {color: #50a14f;}
    .cm-s-one-theme .cm-comment {font-style: italic; color: #a0a1a7;}

    .cm-s-one-theme span.cm-variable {color: #383a42;}
    .cm-s-one-theme span.cm-variable-2{color: #e45649;}
    .cm-s-one-theme span.cm-variable-3 {color: #986801;}
    .cm-s-one-theme span.cm-def {color: #526fff;}
    .cm-s-one-theme span.cm-meta{color: #e45649;}
    .cm-s-one-theme span.cm-error {background: #ac4142; color: #505050;}
    .cm-s-one-theme span.cm-bracket {color: #202020;}
    .cm-s-one-theme span.cm-tag {color: #ac4142;}
    .cm-s-one-theme span.cm-link {color: #A0A1A7;}
    .cm-s-one-theme .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
}

@media (prefers-color-scheme: dark) {
    .cm-s-one-theme.CodeMirror {
        background: #282c34;
        color: #abb2bf;
        font: 300 14px 'Fira Mono', monospace;
    }
    .cm-s-one-theme div.CodeMirror-selected {background:#3a3f4b !important;}
    .cm-s-one-theme .CodeMirror-gutters {background: #282c34; border-right: 0px;}
    .cm-s-one-theme .CodeMirror-linenumber {color: #9d9d9f;}
    .cm-s-one-theme .CodeMirror-cursor {border-left: 2px solid #528bff !important;}

    .cm-s-one-theme span.cm-atom {color: #d19a66;}
    .cm-s-one-theme span.cm-number {color: #d19a66;}

    .cm-s-one-theme span.cm-property, .cm-s-one-theme span.cm-attribute {color: #56b6c2;}
    .cm-s-one-theme span.cm-keyword, .cm-s-one-theme span.cm-builtin {color: #c678dd;}
    .cm-s-one-theme span.cm-string {color: #98c379;}
    .cm-s-one-theme .cm-comment {font-style: italic; color: #5c6370;}

    .cm-s-one-theme span.cm-variable {color: #abb2bf;}
    .cm-s-one-theme span.cm-variable-2{color: #e06c75;}
    .cm-s-one-theme span.cm-variable-3 {color: #d19a66;}
    .cm-s-one-theme span.cm-def {color: #528bff;}
    .cm-s-one-theme span.cm-meta{color: #e06c75;}
    .cm-s-one-theme span.cm-error {background: #ac4142; color: #505050;}
    .cm-s-one-theme span.cm-bracket {color: #202020;}
    .cm-s-one-theme span.cm-tag {color: #ac4142;}
    .cm-s-one-theme span.cm-link {color: #5c6370;}
    .cm-s-one-theme .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
}